.card_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.card {
  text-align: center;
  padding: 1rem .5rem;
  border: 1px solid rgb(209,213,219);
  border-radius: .375rem;
  box-shadow:
  rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card_title {
  /* font-size: 20px; */
}

.card_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

