.table_title {
  letter-spacing: .1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #DDD;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

tbody tr {
  cursor: default;
}
tbody tr:hover {
  background-color: #DDD;
}
tbody tr:nth-child(even) {
  background-color: #F2F2F2;
}
